body {
  margin: 0;
  padding: 0;
}
#game {
  width: 1600px;
  height: 400px;
  background-color: rgb(230, 230, 230);
  border-bottom: 3px solid rgba(128, 128, 128, 0.623);
  box-shadow: 0px 0px 10px 2px gray inset;
}
#dino {
  width: 30px;
  position: absolute;
  height: 30px;
  background-image: url(../img/dino.png);
  background-size: cover;
  top: 370px;
}
#cactus {
  position: absolute;
  top: 360px;
  left: 1555px;
  width: 40px;
  height: 40px;
  background-image: url(../img/cactus.png);
  background-size: cover;
}
@keyframes cactus {
  from {
    left: 1555px;
  }
  to {
    left: -10px;
  }
}
.jump {
  animation: jump 1s linear;
}
@keyframes jump {
  35% {
    top: 310px;
  }
  50% {
    top: 290px;
  }
  100% {
    top: 370px;
  }
}

#score {
  position: absolute;
  top: 0;
  font-size: large;
  left: 800px;
}
#restart {
  position: absolute;
  top: 15%;
  left: 760px;
  font-size: 3rem;
  display: none;
  text-align: center;
  color: #747474;
}
#restart:hover,
#start:hover {
  cursor: pointer;
}
#start {
  position: absolute;
  top: 15%;
  left: 760px;
  font-size: 3rem;
  display: none;
  text-align: center;
  color: #747474;
}
